// Imports
@use "../../../style/_var.scss" as var;

// Local Variabe
$main-color: #fefbf6;
$second-color: #3d3c42;
$third-color: #7f5283;
$forth-color: #a6d1e6;

// Styling
.shop {
  background-color: rgb(248, 253, 253);
  font-family: var.$main-font;
  font-family: "Cairo", sans-serif;
  & .space {
    margin: 150px 0 0 0;
  }
  & .products {
    min-height: 500px;
    & .buttons {
      text-align: start;
      margin: 20px 0;
      & select {
        direction: rtl;
        padding: 0;
        height: 41px;
        width: 0px;
        margin-right: 0;
        border: 0px solid $third-color;
        transition: 0.4s;
        text-transform: capitalize;
        &.active {
          padding: 0px 12px;
          width: 0px;
          margin-right: 10px;
          border: 2px solid $third-color;
          width: 50%;
        }
        & option {
          text-transform: capitalize;
        }
        &:focus {
          outline: none;
        }
      }
      & button {
        cursor: pointer;
        color: aliceblue;
        padding: 12px 30px;
        border: 1px solid;
        background-color: darken($color: $forth-color, $amount: 7);
        &.fillter {
          margin-left: 10px;
          background-color: $third-color;
        }
        &:hover {
          transition: 0.4s;
          border: $second-color 1px solid;
          color: #3d3c42;
          background-color: #fefbf6;
        }
      }
    }
    & .search {
      padding: 0px 12px;
      height: 41px;
      width: 50%;
      border: 2px solid $third-color;
      transition: 0.4s;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    & .cards {
      justify-content: space-between;
      display: grid;
      gap: 40px 0;
      grid-template-columns: repeat(auto-fill, 300px);

      @media (max-width: var.$small-witdh) {
        justify-content: center;
      }
      // align-items: ;
      & .card {
        border: 2px solid whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        background-color: $main-color;
        border-bottom: 2px $third-color solid;
        & h2 {
          margin: 10px 0 0 0;
        }
        & a {
          text-decoration: none;
          color: $third-color;
          font-size: 27px;
        }
        & p.price {
          font-size: 23px;
          font-weight: 600;
          margin: 15px 0;
          color: $third-color;
        }
        & p.description {
          padding: 0px 7px;
          line-height: 23px;
          color: $second-color;
          margin: 15px 0 0 0;
        }
        & .image {
          width: 100%;
          border: 2px solid whitesmoke;
          & img {
            width: 100%;
            height: 100%;
          }
        }
        & .add {
          border: none;
          text-align: center;
          padding: 14px 34px;
          font-size: 13px;
          color: $main-color;
          text-transform: uppercase;
          background: $third-color;
          cursor: pointer;
          &:hover {
            transition: 0.4s;
            border: $second-color 1px solid;
            color: #3d3c42;
            background-color: #fefbf6;
          }
        }
        & input {
          font-size: 23px;
          padding: 4px 20px;
          border: 2px solid #7f5283;
          width: 135px;
          margin-bottom: 17px;
          color: $second-color;
          transition: 0.3s;
          &:focus {
            outline: 1px solid $forth-color;
          }
        }
      }
    }
  }
  & .details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    & .line {
      height: 400px;
      width: 1px;
      background: $third-color;
      display: block;
    }
    & .image {
      background-color: white;
      border: 2px solid $third-color;
      height: 400px;
      width: 350px;
      display: flex;
      align-items: center;
      justify-items: center;
      & img {
        width: 100%;
      }
    }
    & .detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 40px;
      justify-content: center;
      background-color: $main-color;
      border-bottom: 2px $third-color solid;
      & h2 {
        margin: 10px 0 8px 0;
        color: $third-color;
      }
      & a {
        text-decoration: none;
        color: $third-color;
        font-size: 27px;
      }
      & p.price {
        font-size: 23px;
        font-weight: 600;
        margin: 15px 0;
        color: $third-color;
      }
      & p.description {
        padding: 0px 7px;
        line-height: 23px;
        color: $second-color;
        margin: 15px 0 0 0;
      }
      & input {
        font-size: 23px;
        padding: 4px 20px;
        border: 2px solid #7f5283;
        width: 135px;
        margin-bottom: 17px;
        color: $second-color;
        transition: 0.3s;
        &:focus {
          outline: 1px solid $forth-color;
        }
      }
      & .add {
        border: none;
        text-align: center;
        padding: 14px 34px;
        font-size: 13px;
        color: $main-color;
        text-transform: uppercase;
        background: $third-color;
        cursor: pointer;
        &:hover {
          transition: 0.4s;
          border: $second-color 1px solid;
          color: #3d3c42;
          background-color: #fefbf6;
        }
      }
    }

    @media (max-width: var.$small-witdh) {
      align-items: center;
      flex-direction: column;
      & .line {
        display: none;
      }
      & .image{
        margin-bottom: 20px;
      }
    }
  }
}
.header.header {
  background-color: rgba(255, 255, 255, 0);
  z-index: 3;
  position: relative;
  & .container {
    background-color: $main-color;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      content: "";
      width: 100%;
      position: absolute;
      height: 2px;
      background-color: $second-color;
      bottom: 0;
      left: 0;
    }
  }
  & .logo {
    font-family: var.$second-font;
    color: $second-color;
    font-size: 50px;
    font-weight: bold;
  }
  & .navbar-button {
    border: none;
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 29px;
    align-items: end;
    margin: 0;
    background-color: transparent;
    padding: 0;
    justify-content: space-around;
    cursor: pointer;
    & span {
      background: $second-color;
      display: block;
      width: 30px;
      height: 2px;
      transition: 0.3s;
      &:nth-child(2) {
        width: 20px;
      }
    }
    &:hover {
      & span:nth-child(2) {
        width: 30px;
      }
    }
  }
  & .navbar {
    position: absolute;
    font-family: var.$main-font;
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: -1;
    transition: 0.5s;
    & ul {
      display: flex;
      justify-content: space-around;
      background-color: $forth-color;
      list-style: none;
      flex-wrap: wrap;
      position: relative;
      & a {
        text-decoration: none;
        color: darken($color: $second-color, $amount: 5);
        transition: 0.2s;
        &:hover {
          color: lighten($color: $second-color, $amount: 15);
        }
      }
      & li {
        padding: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        & svg {
          margin-right: 5px;
        }
      }
    }
    &.active {
      bottom: -105px;
      margin: -15px 0;
    }
    &::before {
      content: "";
      border-width: 14px;
      border-style: solid;
      border-color: transparent transparent $forth-color transparent;
      position: absolute;
      right: 15px;
      top: -12px;
    }
  }
}

.lds-ring div {
  border-color: $forth-color transparent transparent transparent;
}

.footer {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 0 0;
  height: 80px;
  border-top: 1px solid $third-color;
  background: #fefbf6;
  padding-top: 15px;
  font-size: 18px;
  color: $third-color;
  & .icons {
    margin-top: 14px;
    & svg {
      margin: 0px 5px;
      color: $third-color;
      &:hover {
        color: lighten($color: $third-color, $amount: 4);
      }
    }
  }
}
